<% provide(:title, "Top") %>

<div class="row">
  
  <div class="col-md-7">
    <div class="center jumbotron" id="top-main">
    <h1 id="top-main-title">TaskApp</h1>
    <p>TaskAppは簡易ToDo管理ツールです。</p>
    <p>↓↓初めてのご利用↓↓</p>
    
    </div>
  </div>
  
    <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
  </center>
</div>
