.label-signup {
  float: left;
}

.label-user--edit {
  margin-top: 5px;
  float: left;
}

.btn-user--edit {
  margin-top: 10px;
}

// ユーザー一覧ページ
#table-users {
  td {
    vertical-align: middle;
  }
}

// プロフィール
#table-user {
  table-layout: fixed; width: 100%;
  th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
  }
}